.header {
    text-align: center;
    font-size: 48px;
    padding: 1.1%;
}

.body {
    margin: 0 auto;
}

.strong {
    color: #3E45E8;
}

.ukraine {
    color: #E8C23E;
}

.banner {
    background: url(../img/фонове\ зображення.png);
    background-repeat: no-repeat;
    height: 82vh;
    background-size: cover;

}

.text {
    text-align: left;
    color: azure;
    padding: 14%;
    font-size: 49px;
    font-weight: bold;
    line-height: 4.6rem;
}

.praporone {
    background-image: url(../img/img\ прапор.png);
    height: 290px;
    width: 23px;
    position: absolute;
    top: 22.5rem;
    left: 12rem;

}

.topic {
    font-size: 37px;
    font-weight: bold;
    margin-top: 3.5rem;
    margin-left: 11rem;
}

.praportwo {
    background-image: url(../img/img\ прапор\ 2.png);
    position: absolute;
    top: 61rem;
    height: 12px;
    width: 779px;
}


.carts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;

}

.borderleft {
    border-style: solid;
    border-color: #0D095F;
    border-width: 5px;
    border-radius: 30px;
    width: 20.5%;
    max-height: 481px;
    box-shadow: -16px 21px 40px 0px rgba(0, 209, 255, 35%);
}

.bordercenter {
    border-style: solid;
    border-color: #0D095F;
    border-width: 5px;
    border-radius: 30px;
    width: 20.5%;
    max-height: 481px;
    box-shadow: 0px 21px 35px 0px rgba(0, 209, 255, 35%);
}

.borderright {
    border-style: solid;
    border-color: #0D095F;
    border-width: 5px;
    border-radius: 30px;
    width: 20.5%;
    max-height: 481px;
    box-shadow: 16px 21px 40px 0px rgba(0, 209, 255, 35%);
}

.img_carts {
    width: 100%;
}

.blue {
    color: #0072DB;
    font-size: 28px;
    font-weight: bold;
    padding-left: 1rem;
}

.orange {
    color: #FF9900;
    font-size: 24px;
    padding-left: 1rem;
    padding-bottom: 3rem;
}

.topictwo {
    font-size: 37px;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
}

.underline {
width: 29%;
border-bottom: 7px solid rgba(20, 0, 255, 1);
margin: 0 auto;
}

.map {
    text-align: center;
    margin: 3rem auto;
    padding-bottom: 2rem;
    width: 60%;

}

.map_img {
    width: 100%;
}

.button {
    position: relative;
    left: 39%;
    display: inline-block;
    width: 449px;
    background-color: #2A61F0;
    border-radius: 50px;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}

.footer {
    background: linear-gradient( #013235, #0D0661);
    background-size: cover;
    height: 233px;
    margin-top: 3rem;
    padding-top: 1.7rem;
    text-align: center;
    line-height: 3rem;
    
}

.darkblue {
    font-size: 58px;
    color: #3E45E8;
}

.yellow {
    font-size: 58px;
    color: #DFE31E;
}

.link {
    font-size: 40px;
    color: #A89D9D;
    text-decoration: none;
}

.socialmedia {
    display: flex;
    width: 163px;
    height: 32px;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}