:root {
    font-size: 20px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #FBE4FF;
}

.header-top {
    background-color: #243B93;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 18.7rem;
    box-sizing: border-box; 
}


.logo {
    display: flex;
    align-items: center;    
}

.header-top__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 70%;
    text-align: center;
}

.header-top__nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.title{
    background-color: #BFF0FF;
}

.title h2 {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    color: #202846;
    padding: 1rem 0;
    margin: 0;
}

.h3-like {
    background-color: white;
    color: rgb(0, 0, 0, 61%);
    font-size: 1.4rem;
    padding: .5rem;
    margin: 1.5rem 0;
    text-align: center;

}

.card {
    
    background: linear-gradient(90deg, #ADCBD4, #00AEE5);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    position: relative;
    margin: 1.5rem 0;

}

.card * {
    transition: all 1s;
}

.card > .card-img {
    width: 30%;
}

.card-img > img {
    width: 100%;
    min-height: 100%;
}

.card > .card-description {
    width: 60%;
}

.card .card-description__title {
    font-weight: 700;
    font-style: italic;
    font-size: 1.8rem;
    border-bottom: 3px solid white;
    color: #353C57;

}

.card .card-description__content {
    background-color: #EDFBFF;
    padding: .5rem .7rem 4rem;
    box-sizing: border-box;
    margin-top: .5rem;
    font-size: 1rem;
}

.card .star, .card .btn {
    position: absolute;
}

.card .btn {
    display: inline-block;
    bottom: 10px;
    right: -5%;
    background-color: #243B93;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    padding: 0.5rem 0;
    font-size: 24px;
}

.card .star {
    right: 10px;
    top: 10px;
}

.card:hover {
    background: #2CBDEB ;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
} 

.card:hover .star path {
    fill: yellow;
}

.card:hover .btn {
    background-color: #EF075B;
}

.up-button {
    position: fixed;
    right: 16%;
    bottom: 5%;
}

.cabinet {
    background: linear-gradient(90deg, #FFE601, #55D6FF);
}

.cabinet h3 {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    color: #243B93;
    padding: .7rem 0;
    margin: 0;
}

.personal-card {
    background: linear-gradient(180deg, #859EFF, rgb(105, 255, 210, 50%) );
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
    color: #353C57;
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem 0 3rem;
    position: relative;
    margin: 1.5rem 0;
}

.personal-card span {
    font-weight: 400;

}

.border {
    border-bottom: 3px solid white;
    padding: 1rem 0;

}

.personal-card_image {
    min-width: 196px;
    height: 184px;
}

.btn-change, .btn-settings, .btn-exit {
    position: relative;
    transition: all .5s;
}

.btn-change {
    display: inline-block;
    background-color: #243B93;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    padding: 0.5rem 0;
    font-size: 24px;
    bottom: 12rem;
    left: 25.5%;

}

.btn-settings {
    display: inline-block;
    background-color: #243B93;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    padding: 0.5rem 0;
    font-size: 24px;
    bottom: 8.7rem;
    left: 14.8%;
}


.btn-exit {
    display: inline-block;
    background-color: #243B93;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    padding: 0.5rem 0;
    font-size: 24px;
    bottom: 0.75rem;
    left: 24%;
}

.btn-change:hover {
    background-color: #EF075B;
}

.btn-settings:hover {
    background-color: #EF075B;
}

.btn-exit:hover {
    background-color: #EF075B;
}

.contacts {
    background: linear-gradient(90deg, #55D6FF, #FFE601);
    display: flex;
}

.contacts h4 {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    color: #243B93;
    padding: .7rem 0;
    margin: 0;
}

.contacts-text__top {
    font-size: 1.5rem;
    border-bottom: 3px solid #202846;
    margin-top: 1rem;
}

.contacts-text__bottom {
    font-size: 1.3rem;
}

.box {
display: flex;
justify-content: space-between;
margin: 2% auto;
}

footer {
    background-color: #243B93;
    color: white;
    font-size: 0.9 rem;
    padding: 1rem 0;
}