.background {
    background-color: #F0FFF0;
}

.box {
    margin: 0px auto;
    color:aliceblue;
    background-color:black;
    width: 30em;
    height: 37em;
    text-align: center;
}

h1{
    font-size: 29px;
    text-align: center;
    margin-top: 0,5em;
    letter-spacing: 10px;
}

img{
    margin-top: 0.8em;
    margin-bottom: 1.5em;
}

a{
    display: inline-block;
    width: 17em;
    border: 4px solid aliceblue; 
    font-size: 19px;
    margin-top: 3.3em;
    margin-bottom: -1em;
    padding: 17px 0px 14px;
    word-spacing: 5px;
    letter-spacing: 2px;
    
}

.text {
    text-decoration: none;
    color:aliceblue
}